div figure img {
  width: 80%;
}

.card {
  margin: 0.3rem;
  padding: 0.1rem;
}

.imghandler {
  width: 100px;
  height: 100px;
  object-fit: cover;

  transition: 0.3s ease-in-out;
}
.imghandler:hover {
  transition: 0.3s ease-in-out;
  transform: scale(1.1);
}
.card-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100ch;
}
