/* remove card style */
.empty img {
  width: 20% !important;
  margin: auto;
}

.cardremove {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
}
.cardimge img {
  width: 100px;
}

.cardbtn {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
}
.BUYNOW {
  outline: none;
  border: none;
  background: orange;
  width: 100px;
  height: 50px;
  color: #fff;
  border-radius: 5px;
}
.REMOVE {
  outline: none;
  border: none;
  background: #fb641b;
  color: white;
  width: 100px;
  border-radius: 5px;
}
.hide {
  display: none;
}
@media screen and (max-width: 680px) {
  .cardprice {
    width: 100%;
    margin-left: 1rem;
  }

  .hide {
    display: flex;
  }
  .cardbtn {
    display: flex;
    gap: 10px !important;
    flex-wrap: wrap;
    justify-content: initial;
  }
  .show {
    display: none !important;
  }
}
